POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=postgres
POSTGRES_HOST=postgres
NUTRITION_API_URL=http.nutrition/api
NUTRITION_APIKEY=apikey
ALGORITHM=HS256
SECRET_KEY=totallynotasecretkey
